a{
    color:lightcyan;
}
a:link{
    color: rgb(247, 10, 10);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    text-align: center;
}
a:hover{
    color:green;
    background-color:lightgreen;
    font-size: large;
    text-decoration: underline;
    text-align: center;
}
a:active{
    color: slateblue;
}