ul{
    list-style-type:none;
    border: 2px solid black;
}
ul a{
    display: inline-block;
    color: darkblue;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;

}
ul a:hover{
    color: black;
    background-color: lightcyan;
    font-size: large;
}
ul a:active{
    color: greenyellow;
}